.sec-about {
  position: relative;
  height: 560px;
  background: url("../img/Teberda-description.jpg") no-repeat center center;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.sec-about p {
  text-align: center;
}

.sec-about a {
  text-decoration: underline;
}

.sec-about a {
  color: #000;
  &:hover,
  &:focus {
    color: red;
  }
}

.container > h1 {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.about-heading {
  position: absolute;
  top: -13%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

.about-heading {
  font-family: "Noto-Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.text-center {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
}

.text-center__2 {
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
}

.text-center__span {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .sec-about {
    height: auto;
    &:after {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .about-heading,
  .text-center,
  .text-center__2,
  .text-center__span {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    margin: 10px 0;
    height: auto;
    padding: 10px;
  }

  /* Дополнительно можно адаптировать размер текста и другие свойства */
  .about-heading,
  .text-center,
  .text-center__2,
  .text-center__span {
    font-size: 16px; /* Уменьшаем размер шрифта */
  }

  /* Адаптируем ссылки */
  .sec-about a {
    color: #000;
    font-size: 14px; /* Можно также адаптировать размер шрифта ссылок */
  }

  /* Адаптируем параграфы */
  .sec-about p {
    font-size: 14px;
  }

  /* Адаптируем заголовки контейнеров */
  .container > h1 {
    font-size: 24px; /* Уменьшаем размер шрифта заголовков */
  }
}
