@import "fonts.css";
@import "wrapper.css";
@import "about.css";
@import "services.css";
@import "folio.css";
@import "testiomonials.css";


html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Noto-Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar a {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: "Noto-Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: red;
}

.navbar-default .navbar-nav > li > a:active {
  color: darken(red, 5%);
}

/*Testimonials*/



/*Contact*/

.sec-contact .form-control:focus {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 0, 0, 0.6);
}

.sec-contact .btn {
  padding: 0.5rem 1.75rem;
  background: #000;
  font-size: 0.95rem;
  color: #fff;

  &:hover,
  &:focus {
    background: red;
    border-color: darken(red, 10%);
  }
}

/*Footer*/

footer {
  background: #000;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em 0.65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;

  &:hover,
  &:focus {
    color: red;
  }
}
