.header__wrapper {
  background-image: url("../../img/retrit-main.JPG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 32px 20px;
  margin: 0 0 10px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 0 450px;
}

.header__title {
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

.header__text {
  text-transform: uppercase;
  color: #ffffffcf;
  font-size: 20px;
}

.header__icon, .header__icon-bot, .header__icon-mid {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
}

.header__date {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  display: block;
  text-align: center;
}